/* animation */

@keyframes anvil {
  0% {
    transform: scale(1) translateY(0px);
    opacity: 0;
    box-shadow: 0 0 0 rgba(241, 241, 241, 0);
  }
  1% {
    transform: scale(0.96) translateY(10px);
    opacity: 0;
    box-shadow: 0 0 0 rgba(241, 241, 241, 0);
  }
  100% {
    transform: scale(1) translateY(0px);
    opacity: 1;
    box-shadow: 0 0 500px rgba(241, 241, 241, 0);
  }
}
.popup-content {
  -webkit-animation: anvil 0.3s cubic-bezier(0.38, 0.1, 0.36, 0.9) forwards;
}

.popup-content {
  /*margin: auto;
  */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  border: none !important;
  background: none !important;
  border-radius: 18px !important;
  -webkit-border-radius: 18px !important;
  -moz-border-radius: 18px !important;
  -ms-border-radius: 18px !important;
  -o-border-radius: 18px !important;
}
@media only screen and (max-width: 1120px) {
  .popup-content {
    width: 70% !important;
  }
}

[role="tooltip"].popup-content {
  width: 200px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 3px;
}

.popup-overlay {
  background: rgba(0, 0, 0, 0.5);
}
[data-popup="tooltip"].popup-overlay {
  background: transparent;
}
